@model IEnumerable<appTest.Models.Produit>
<div class="text-center">
    <h3>Créer un produit</h3>
    <p><a asp-controller="Produit" asp-action="Create" class="btn btn-primary">+ Add Product</a></p>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Produit in Model)
            {
                <tr>
                    <td>@Produit.Id</td>
                    <td>@Produit.Nom</td>
                    <td>@Produit.Prix</td>
                    <td>@Produit.Quantite</td>
                   <!--chouf routage---> 
                    <td>
                        <a class="btn-secondary" 
                        asp-controller="Produit" 
                        asp-action="Edit"
                        asp-route-Id="@Produit.Id">
                        Edit</a>
                        <a class="btn btn-primary" asp-action="Delete" asp-route-id="@Produit.Id"
                           onclick="return confirm('Voulez-vous supprimer ce produit ?');">
                            Delete
                        </a>
          
                       
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
