@model IEnumerable<appTest.Models.Stock>

<h3>Liste de stock</h3>

<div class="ajouter">
    <p>
        <a asp-controller="Stock" asp-action="Create" class="btn btn-primary">+ Ajouter au stock</a>
    </p>
</div>
<form method="get" asp-action="Index" class="row g-3 mb-3">
    <div class="col-md-4">
        <input type="search"
               name="search"
               value="@Context.Request.Query["search"]"
               class="form-control"
               placeholder="Rechercher par medicament..." />
    </div>
    <div class="col-md-4">
        <select class="form-select" name="annee">
            <option value="">Année</option>
            @foreach (var a in (List<int>)ViewBag.Annees)
            {
                <option value="@a" selected="@(Context.Request.Query["annee"] == a.ToString())">
                    @a
                </option>
            }
        </select>
    </div>
    <div class="col-md-4">
            <select class="form-select" name="Type">
                <option value="">Type</option>
                <option value="Entrée">Entrée</option>
                <option value="Sortie">Sortie</option>
            </select>
    </div>


    <div>
        <button type="submit" class="btn btn-primary">Rechercher</button>
        <a asp-action="Index" class="btn btn-secondary ms-2">Réinitialiser</a>
    </div>
</form>
<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th>Medicament</th>
                <th>Fournisseur</th>
                <th>Type</th>
    
                <th>Quantite</th>
                <th>DateStock</th>
                <th>Motif</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Stock in Model)
            {
                <tr>

                    <td>@Stock.Medicament?.Nom</td>
                    <td>@Stock.Fournisseur?.Nom</td>
                    <td class="@(Stock.Type == "Entrée"? "text-success" : "text-danger")">
                        @Stock.Type
                    </td>
                    
                    <td>@Stock.Quantite</td>
                    <td>@Stock.DateStock.ToString("dd/MM/yyyy")</td>
                    <td>@Stock.Motif</td>
                    <!--chouf routage--->
                    <td>
                        <a class="btn btn-secondary ms-2"
                           asp-controller="Stock"
                           asp-action="Edit"
                           asp-route-Id="@Stock.Id">
                            Edit
                        </a>
                        <a class="btn btn-primary" asp-controller="Stock" asp-action="Delete" asp-route-id="@Stock.Id"
                           onclick="return confirm('Voulez-vous supprimer ce produit ?');">
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>