@model IEnumerable<appTest.Models.Stock>

<h3>Liste des médicaments</h3>
<div class="ajouter">
    <p>
        <a asp-controller="Medicament" asp-action="Create" class="btn btn-primary">+ Ajouter un médicament</a>
    </p>
</div>
<form method="get" asp-action="Index">
    <div>
        <select class="form-select" name="CategorieId" asp-items="ViewBag.Categories">
            <option value="">Toutes les catégories</option>
        </select>
    </div>
    <div>
        <select class="form-select" name="FournisseurId" asp-items="ViewBag.Fournisseurs">
            <option value="">Tous les fournisseurs</option>
        </select>
    </div>
    <div>
        <input type="search"
               name="search"
               value="@Context.Request.Query["search"]"
               class="form-control"
               placeholder="Rechercher par nom ou code..." />
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Rechercher</button>
        <a asp-action="Index" class="btn btn-secondary ms-2">Réinitialiser</a>
    </div>
</form>
<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th>Medicament</th>
                <th>Type</th>

                <th>Quantite</th>
                <th>DateStock</th>
                <th>Date </th>
                <th>Motif</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Stock in Model)
            {
                <tr>

                    <td>@Stock.MedicamentId.Nom</td>
                    <td>@Stock.Type</td>
                    <td>@Stock.Quantite</td>
                    <td>@Stock.DateStock.ToString("dd/MM/yyyy")</td>
                    <td>@Stock.Motif?</td>
                    <!--chouf routage--->
                    <td>
                        <a class="btn btn-secondary ms-2"
                           asp-controller="Medicament"
                           asp-action="Edit"
                           asp-route-Id="@Stock.Id">
                            Edit
                        </a>
                        <a class="btn btn-primary" asp-controller="Stock" asp-action="Delete" asp-route-id="Stock.Id"
                           onclick="return confirm('Voulez-vous supprimer ce produit ?');">
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</d