@model IEnumerable<appTest.Models.Medicament>

    <h3>Liste des médicaments</h3>
    <div class="ajouter">
    <p>
        <a asp-controller="Medicament" asp-action="Create" class="btn btn-primary">+ Ajouter un médicament</a>
    </p>
</div>
<form method="get" asp-action="Index">
<select class="form-select" name="CategorieId" asp-items="ViewBag.Categorie">
<option value="">Toutes les catégories</option>
<option value="Antibiotiques"> Antibiotiques</option>
<option value="Antalgiques"> Antalgiques</option>
<option value="Vitamines"> Vitamines</option>
<option value="Dermocosmétiques"> Dermocosmétiques</option>
<option value="Anti-inflammatoires"> Anti-inflammatoires</option>
<option value="Antihistaminiques">Antihistaminiques </option>
<option value="Antidiabétiques">Antidiabétiques </option>
<option value="Cardiologie"> Cardiologie</option>
</select>
<select class="form-select" name="FournisseurId" asp-items="ViewBag.Fournisseurs">
<option value="">Bottu </option>
<option value=""> Cooper Pharma</option>
<option value=""> Sothema</option>
<option value="Laprophan"> Laprophan</option>
<option value="Sanofi Maroc">Sanofi Maroc </option>
<option value="Pharma 5"> Pharma 5</option>
<option value="Pfizer">Pfizer </option>
<option value="Roche">Roche </option>
</select>
<button type="submit" class="btn btn-primary ms-2">Rechercher</button>
</form>
<div class="row mb-3">
    <div class="col-md-4">
        <form  asp-action="Index" method="get" class="d-flex">
            <input type="search"
                   name="search"
                   value="@Context.Request.Query["search"]"
                   class="form-control"
                   placeholder="Rechercher par nom ou code..." />
            <button type="submit" class="btn btn-primary ms-2">Rechercher</button>
            <a asp-action="Index" class="btn btn-secondary ms-2">Réinitialiser</a>
           
        </form>
	</div>
    
</div>
<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th>Code</th>
                <th>Nom</th>
       
                <th>Categorie</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Date d'expiration'</th>
                <th>Fournisseur</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Medicament in Model)
            {
               <tr>
                   
                    <td>@Medicament.Code</td>
                    <td>@Medicament.Nom</td>
       
                    <td>@Medicament.Categorie?.Nom</td>
                    <td>@Medicament.Prix</td>
                    <td>@Medicament.Quantite</td>
                    <td>@Medicament.DateExpiration.ToString("dd/MM/yyyy")</td>
                    <td>@Medicament.Fournisseur?.Nom</td>
                    
                    <!--chouf routage--->
                    <td>
                        <a class="btn btn-secondary ms-2"
                           asp-controller="Medicament"
                           asp-action="Edit"
                           asp-route-Id="@Medicament.Id">
                            Edit
                        </a>
                        <a class="btn btn-primary" asp-controller="Medicament" asp-action="Delete" asp-route-id="@Medicament.Id"
                           onclick="return confirm('Voulez-vous supprimer ce produit ?');">
                            Delete
                        </a>
                    </td>
               </tr>
            }
        </tbody>
    </table>
            
</div>
