@model IEnumerable<appTest.Models.Medicament>
<div class="text-center">
    <h3>Liste des médicaments</h3>

    <p>
        <a asp-controller="Medicament"
           asp-action="Create" class="btn btn-primary">+ Ajouter un médicament</a>
    </p>
    <table class="table">
        <thead>
            <tr>

                <th>Id</th>
                <th>Code</th>
                <th>Nom</th>
                <th>Categorie Id</th>
                <th>Categorie</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Date d'expiration'</th>
                <th>Fournisseur Id</th>
                <th>Fournisseur</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Medicament in Model)
            {
               <tr>
                    <td>@Medicament.Id </td>
                    <td>@Medicament.Code</td>
                    <td>@Medicament.Nom</td>
                    <td>@Medicament.CategorieId</td>
                    <td>@Medicament.CategorieId</td>
                    </div>
                    <td>@Medicament.Prix</td>
                    <td>@Medicament.Quantite</td>
                    <td>@Medicament.DateExpiration</td>
                    <td>@Medicament.FournisseurId</td>
                    <td>@Medicament.Fournisseur</td>
                  <!--Sorry khltt create m3a index-->

                    <!--chouf routage--->
                    <td>
                        <a class="btn-secondary"
                           asp-controller="Medicament"
                           asp-action="Edit"
                           asp-route-Id="@Medicament.Id">
                            Edit
                        </a>
                        <a class="btn btn-primary" asp-controller="Medicament" asp-action="Delete" asp-route-id="@Medicament.Id"
                           onclick="return confirm('Voulez-vous supprimer ce produit ?');">
                            Delete
                        </a>

          
                    </td>
               </tr>
            }
        </tbody>
    </table>
            
</div>